body {
	background-color: rgba(255,255,255,0.3);
	background-image: url(../images/bg.jpeg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-attachment: fixed;
	background-size: cover;
	font-family:Helvetica, Arial, Sans-serif;

}
main {
	background-color: rgba(255,255,255,0.8);
	padding: 20px;
	max-width: 600px;
	margin: 0 auto;
	box-shadow: 0px 0px 0px white
;
}

h1 {
	font-family: 'Courier Prime', monospace;
	font-size: 50px;
	margin-top: 30px;
	margin-bottom: 0;
	text-align: center;
	text-shadow: 2px 2px 4px grey;
}

h2 {
	text-align: center;
	margin-top: 0;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 16px;
	letter-spacing: 10px;
}
h3 {
	text-align: left;
	font-weight: normal;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 3px;
	padding-left: 0;
	margin: 40px 0 10px;
}
h3:hover{
	text-decoration: underline;
	color: hotpink;
	cursor:pointer;
}

img{
		display: block;
		margin: 0 auto;
		border: 10px solid hotpink;
		border-radius: 500px 500px 0 0 ;

}

p,
ul,
ol {
	line-height: 1.6;
	list-style: none;
	padding-left: 0;
	margin: 0;
}

	a{
		text-decoration: none;
		font-weight: bold;
		color: hotpink;
	}

	a:hover{
		color: lightpink;
		text-decoration:underline;

}
